--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.book (
    id integer NOT NULL,
    created_by character varying(255) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    last_modified_by character varying(255),
    last_modified_date timestamp(6) without time zone,
    archived boolean NOT NULL,
    author_name character varying(255),
    book_cover character varying(255),
    isbn character varying(255),
    owner_name character varying(255),
    resume character varying(255),
    sharable boolean NOT NULL,
    title character varying(255)
);


ALTER TABLE public.book OWNER TO username;

--
-- Name: book_seq; Type: SEQUENCE; Schema: public; Owner: username
--

CREATE SEQUENCE public.book_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.book_seq OWNER TO username;

--
-- Name: book_transaction_history; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.book_transaction_history (
    id integer NOT NULL,
    created_by character varying(255) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    last_modified_by character varying(255),
    last_modified_date timestamp(6) without time zone,
    return_approved boolean NOT NULL,
    returned boolean NOT NULL,
    user_id character varying(255),
    book_id integer
);


ALTER TABLE public.book_transaction_history OWNER TO username;

--
-- Name: book_transaction_history_seq; Type: SEQUENCE; Schema: public; Owner: username
--

CREATE SEQUENCE public.book_transaction_history_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.book_transaction_history_seq OWNER TO username;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    created_by character varying(255) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    last_modified_by character varying(255),
    last_modified_date timestamp(6) without time zone,
    comment character varying(255),
    note double precision,
    book_id integer
);


ALTER TABLE public.feedback OWNER TO username;

--
-- Name: feedback_seq; Type: SEQUENCE; Schema: public; Owner: username
--

CREATE SEQUENCE public.feedback_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_seq OWNER TO username;

--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.book (id, created_by, created_date, last_modified_by, last_modified_date, archived, author_name, book_cover, isbn, owner_name, resume, sharable, title) FROM stdin;
\.


--
-- Data for Name: book_transaction_history; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.book_transaction_history (id, created_by, created_date, last_modified_by, last_modified_date, return_approved, returned, user_id, book_id) FROM stdin;
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.feedback (id, created_by, created_date, last_modified_by, last_modified_date, comment, note, book_id) FROM stdin;
\.


--
-- Name: book_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.book_seq', 1, false);


--
-- Name: book_transaction_history_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.book_transaction_history_seq', 1, false);


--
-- Name: feedback_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.feedback_seq', 1, false);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: book_transaction_history book_transaction_history_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.book_transaction_history
    ADD CONSTRAINT book_transaction_history_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: book_transaction_history fketks95hi6ay47e16sj6vdv9g9; Type: FK CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.book_transaction_history
    ADD CONSTRAINT fketks95hi6ay47e16sj6vdv9g9 FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: feedback fkgclyi456gw0lcd6xcfj2l7r6s; Type: FK CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT fkgclyi456gw0lcd6xcfj2l7r6s FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- PostgreSQL database dump complete
--

